@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Antonio:wght@700&family=Big+Shoulders+Display:wght@300&family=Inter:wght@300&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: rgb(53, 53, 53);
}

a{
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

.titulo{
    font-size: 20px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

img{
    padding-top: 10px;
}
